$brand-color-primary-pure: #3c5ca7;
$brand-color-primary-dark: #1E3363;

.prd-txt-color-primary {
    color: $brand-color-primary-pure;
}

.prd-bg-color-primary-dark {
    background-color: $brand-color-primary-dark;
}